doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

		//- bootstrap *** javascript *** jquery 

		//- Latest compiled and minified CSS 
	link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	//- jQuery library 
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	//- Latest compiled JavaScript 
	script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	//- font-awsom 
	link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
	body
		block content
	script(type='text/javascript', src='/javascripts/better.js')